@{
    ViewData["Title"] = "Bowlers";
}

@model List<Bowler>

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>ID</td>
            <td>Last Name</td>
            <td>First Name</td>
            <td>Middle Initial</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone Number</td>
            <td>Team ID</td>
        </tr>
    </thead>

    <tbody>
        @foreach (Bowler b in Model)
            {
                <tr>
                    <td>@b.BowlerID</td>
                    <td>@b.BowlerLastName</td>
                    <td>@b.BowlerFirstName</td>
                    <td>@b.BowlerMiddleInit</td>
                    <td>@b.BowlerAddress</td>
                    <td>@b.BowlerCity</td>
                    <td>@b.BowlerState</td>
                    <td>@b.BowlerZip</td>
                    <td>@b.BowlerPhoneNumber</td>
                    <td>@b.TeamID</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@b.BowlerID">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@b.BowlerID">Delete</a></td>
                </tr>
            }

    </tbody>

</table>
